.App {
  text-align: center;
  font-style: italic;
  color: #000080;
  background-color: whitesmoke;
  font-family: fantasy;
  padding: 30px;
  border: 30px solid #4522FA;
}
.styling {
  text-align: center;
  border: 3px solid #5CD1FF;
  color: #228B22;
  background-color: #C9F9FF;
  border-radius: 25px;
  font-weight: bold;
  padding: 20px;
  margin: 5px;
}
.beastImg {
  border: 2px solid #5CD1FF;
  border-radius: 25px;
}
.header {
  font-size: 75px;
}
.beastDescription {
  margin-top: 15px;
}