.App {
  text-align: center;
  font-style: italic;
  color: #000080;
  background-color: whitesmoke;
  font-family: fantasy;
  padding: 30px;
  border: 30px solid #4522FA;
}
.beast {
  /* border: 5px solid #FA3511; */
  color: #228B22;
  /* background-color: #f675ff; */
  border-radius: 25px;
  font-weight: bold;
  height: 425px;
  padding: 20px;
  margin: 15px;
}
.beastImg {
  /* border: 5px solid #FA3511; */
  border-radius: 25px;
}
.header {
  font-size: 75px;
}
.beastDescription {
  margin-top: 15px;
}